# https://lautarocarro.blog/github-actions-guia-para-utilizar-con-net-core/
# https://rajbos.github.io/blog/2019/10/26/Deploy-dotnetcore-webapp-with-GitHub-Actions
# https://jamesnaylor.dev/Posts/Read?id=github-actions
# 

name: .NET Core

on:
  push:
    branches: [ master, wkrea-CICD ]
  pull_request:
    branches: [ master, malliwi88, wkrea-CICD ] # Eventos de Pull Request sobre el branch
    tags: 
      - v1.0
      - v2.0
      - v3.0

jobs:    
  build:
    # https://www.fixedbuffer.com/herramientas-de-desarollo-github-actions-como-ci-para-net-core/
    strategy:
      matrix:
        agent: ['windows-latest','ubuntu-latest','macos-latest']
    
    runs-on: ${{matrix.agent}}
    #runs-on: ubuntu-latest
    
    # https://github.com/actions/setup-dotnet
    # strategy:
    #  matrix:
    #    dotnet: [ '2.2.207', '3.1.x'] #, '5.0.x' ]    
    # name: Dotnet ${{ matrix.dotnet }} sample
    
    steps:
    - uses: actions/checkout@v2
      with:
        # https://github.com/actions/checkout
        ref: ${{ github.event.pull_request.head.sha }}
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        # https://github.com/actions/setup-dotnet
        dotnet-version: ${{ matrix.dotnet }} #2.2.207 #3.1.101
    - name: Install dependencies
      run: dotnet restore ./src/Supermarket.API/
    - name: Build
      run: dotnet build --configuration Release --no-restore ./src/Supermarket.API/Supermarket.API.csproj
    #- name: Test
    #  run: dotnet test --no-restore --verbosity normal
    - name: Archive production artifacts
      uses: actions/upload-artifact@v1
      with:
        name: dist
        path: dist
    - name: Archive code coverage results
      uses: actions/upload-artifact@v1
      with:
        name: code-coverage-report
        path: output/test/code-coverage.html
